body
{
    width: 100%;
    margin: auto;
}

header 
{
    margin: auto;
   
}

#display_header
{
    display: flex;
    background-color: #f3e9f1;
    justify-content: space-between;
    padding: 20px;
}

.fa-shopping-basket
{
    
    display: flex;
    align-items: center;
    font-size: 36px;
}

.basket 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

section
{
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.all
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 50px;
    border: 5px solid #f3e9f1;
    border-radius: 15%;
    background-color: #f3e9f1;
    max-width: 240px;
   
    
    }

.all p {
   text-align: center;
    padding: 0px 10px 10px 10px;
  
}



section img 
{
    
        width: auto;
        max-width: 240px;
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        object-fit: cover;
}

#btn 
{
    background: radial-gradient( ellipse at top left, #ffa652, #933efc);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 40%;
}