
body
{
	width: 100%;
	margin: auto;
	font-family: 'Nunito', sans-serif;
}
/*------ HEADER ----*/
header
{
	margin: auto;
}

#display_header
{
	display: flex;
	background-color: #f3e9f1;
	justify-content: space-between;
	padding: 5px 20px 0px 0px;
	align-items: center;
}

.fa-shopping-cart
{
	color: rgb(159, 0, 180);
	display: flex;
	align-items: center;
	font-size: 36px;
}
/*------- MAIN ----- */
h1
{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#ancre
{
	display: flex;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

.all
{
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 50px;
    border-radius: 15%;
	background-color: #f3e9f1;
	max-width: 240px;
}

.all p
{
	text-align: center;
	padding: 0px 10px 10px 10px;
}

#ancre img
{
	width: auto;
	max-width: 240px;
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	object-fit: cover;
}

#btn
{
	background: radial-gradient( ellipse at top left, #ffa652, #933efc);
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	border-radius: 40%;
	text-decoration: none;
}

a
{
	text-decoration: none;
}